{% extends "base.html" %}
{% block content %}
<div class="p-5 mb-5 text-white rounded-5 shadow-lg" style="background: linear-gradient(45deg, #2c3e50, #27ae60);">
    <h1 class="display-3 fw-bold">ยินดีต้อนรับสู่ ICT12367</h1>
    <hr class="my-4">
    <a href="/form" class="btn btn-light btn-lg px-4 fw-bold text-dark">เริ่มใช้งานเลย</a>
</div>

<div class="card shadow-lg">
    <div class="card-body p-0 overflow-hidden" style="border-radius: 15px;">
        <div class="p-4 bg-white"><h3 class="text-center mb-0 fw-bold">📍 พิกัดมหาวิทยาลัยศรีปทุม</h3></div>
        <div class="ratio ratio-21x9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30989.52671047315!2d100.5879296!3d13.8575872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29d3b2deb49ff%3A0xd2ed4165c39645cc!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4Lio4Lij4Li14Lib4LiX4Li44Lih!5e0!3m2!1sth!2sth!4v1771924562775!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
{% endblock %}